---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
  image: ImageMetadata | Promise<any>;
  title: string;
  description: string;
  url: string;
  visitPage: string;
  id?: string | number;
}

const { image, title, description, url, visitPage, id } = Astro.props;
---

<div
  id={id + ""}
  class="company-card relative rounded-xl min-h-72 max-w-md md:max-w-sm col-span-1 z-20"
>
  <Image
    class="transition-all duration-300 hover:opacity-0 rounded-xl min-h-72 object-cover"
    alt="ANDAP logo"
    src={image}
    width={1029}
    height={805}
  />
  <div
    class="absolute inset-0 flex items-center justify-start bg-black bg-opacity-75 opacity-0 left-0 hover:opacity-95 transition-opacity duration-500 rounded-xl"
  >
    <div class="flex flex-col text-white text-lg w-full px-8 py-4 text-left space-y-2">
      <div class="text-4xl text-white font-bold cursor-default">{title}</div>
      <p class="text-smoke leading-[1.3rem] cursor-default">{description}</p>
      <a class="text-right underline font-semibold text-accent text-lg" href={url} target="_blank">{visitPage}</a>
    </div>
  </div>
</div>
